# Python Fundamentals - Collections

## Tuple

Immutable sequence of arbitrary objects

In [1]:
t = ("Norway", 4.5, 3)

In [2]:
t[0]

'Norway'

In [3]:
len(t)

3

In [4]:
t

('Norway', 4.5, 3)

In [5]:
for item in t:
    print(item)

Norway
4.5
3

In [6]:
t + (3, 5)

('Norway', 4.5, 3, 3, 5)

In [7]:
t * 2

('Norway', 4.5, 3, 'Norway', 4.5, 3)

In [8]:
a = (t, t, t)

In [9]:
a

(('Norway', 4.5, 3), ('Norway', 4.5, 3), ('Norway', 4.5, 3))

In [10]:
a[0][2]

3

In [11]:
def minmax(a):
    return min(a), max(a)

In [12]:
minimum, maximum = minmax([2, 4, 8])

In [13]:
minimum

2

In [14]:
maximum

8

In [15]:
result = minmax([2, 4, 8])

In [16]:
type(result)

tuple

In [17]:
result

(2, 8)

In [18]:
(e, (f, (g,h))) = (1, (2, (3, 4)))

In [19]:
e

1

In [20]:
f

2

In [21]:
g

3

In [22]:
h

4

In [23]:
tuple([0, 1, 2])

(0, 1, 2)

In [24]:
tuple("hello")

('h', 'e', 'l', 'l', 'o')

In [25]:
5 in (3, 5, 8)

True

In [26]:
5 not in (1, 2, 3)

True

## String

In [27]:
"hello" + "world"

'helloworld'

In [29]:
text = "hello"

In [30]:
text += "world"

In [31]:
text

'helloworld'

In [32]:
colors = ';'.join(['blue', 'yellow', 'red'])

In [33]:
colors

'blue;yellow;red'

In [34]:
colors.split(';')

['blue', 'yellow', 'red']

In [35]:
''.join(['blue', 'yellow'])

'blueyellow'

In [36]:
"unforgetable".partition("forget")

('un', 'forget', 'able')

In [37]:
departure, separator, arrival = "LOndon:Edinburgh".partition(':')

In [38]:
departure

'LOndon'

In [39]:
arrival

'Edinburgh'

In [40]:
separator

':'

In [41]:
origin, _, destination = "London:Edinburgh".partition(":")

In [42]:
origin

'London'

In [43]:
"The arge of {0} is {1}".format('Jim', 34)

'The arge of Jim is 34'

In [44]:
"The age of {name} is {age}".format(name='JIm', age=12)

'The age of JIm is 12'

In [45]:
pos = (65.2, 23.1, 82.2)

In [46]:
"Galactic position x={pos[0]} y={pos[1]} z={pos[2]}".format(pos=pos)

'Galactic position x=65.2 y=23.1 z=82.2'

In [47]:
import math

In [48]:
"Math constants: pi={m.pi}, e={m.e}".format(m=math)

'Math constants: pi=3.141592653589793, e=2.718281828459045'

In [50]:
"Math constants: pi={m.pi:.3f}, e={m.e:.3f}".format(m=math)

'Math constants: pi=3.142, e=2.718'

## Range

In [1]:
range(5)

range(0, 5)

In [2]:
t = range(5)

In [3]:
t

range(0, 5)

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
range(5,10)

range(5, 10)

In [6]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [7]:
list(range(10,15))

[10, 11, 12, 13, 14]

In [8]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [10]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __reduce__(...)
 |      helper for pickle
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value, [start, [stop]]) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [11]:
help(range.start)

Help on member descriptor builtins.range.start:

start

In [12]:
s = [0,4,9,3,2]

In [13]:
for v in s:
    print(v)

0
4
9
3
2

In [15]:
for p in enumerate(s):
    print(p)

(0, 0)
(1, 4)
(2, 9)
(3, 3)
(4, 2)

In [19]:
for i,v in enumerate(s):
    print("i = {0}, v = {1}".format(i,v))

i = 0, v = 0
i = 1, v = 4
i = 2, v = 9
i = 3, v = 3
i = 4, v = 2

## List

In [20]:
s = "show how to index into sequences".split()

In [21]:
s

['show', 'how', 'to', 'index', 'into', 'sequences']

In [22]:
s[4]

'into'

In [23]:
s[-1] # Use negative index to access from the end of the list

'sequences'

In [24]:
s[1:4] # 1 = start index; 4 = stop index --> 5th item in the list

['how', 'to', 'index']

In [25]:
s[1:-1] # allows to retrieve the list except the first and last element

['how', 'to', 'index', 'into']

In [26]:
s[3:] # allows to retrieve the list from the 3d item until the end

['index', 'into', 'sequences']

In [27]:
s[:3] # allows to retrieve the list until the 3d index (not included)

['show', 'how', 'to']

In [31]:
s[:3] + s[3:] == s # be careful of the order of the terms on the left!

True

In [32]:
s[3:] + s[:3] == s

False

In [33]:
s[:]

['show', 'how', 'to', 'index', 'into', 'sequences']

In [34]:
full_s = s[:]

In [36]:
full_s is s # full_s and s are not referencing the same object, but...

False

In [37]:
full_s == s # ... they have the same content

True

In [38]:
u = s.copy()

In [39]:
v = list(s)

In [40]:
v

['show', 'how', 'to', 'index', 'into', 'sequences']

In [41]:
u is s

False

In [42]:
v is s

False

### Copy

In [43]:
a = [[1,2],[3,4]]

In [44]:
b = a[:]

In [45]:
a is b # shows that b is a copy of a, they are not referencing the same list-object, but...

False

In [47]:
a[0] is b[0] # ... both of their respective elements ARE referencing to the same list-object!

True

In [48]:
a[0]=[5,5] # Now a[0] refers to a new list object, but...

In [50]:
b[0] # ... b[0] remains intact

[1, 2]

### Append

In [51]:
a[1].append(5) # This appends the integer 5 to the list-objet referenced by a[1], ...

In [53]:
b[1] # ... but the same object was also referenced by b[1]!

[3, 4, 5]

In [54]:
a

[[5, 5], [3, 4, 5]]

In [55]:
b

[[1, 2], [3, 4, 5]]

In [56]:
[0] * 9

[0, 0, 0, 0, 0, 0, 0, 0, 0]

In [57]:
s = [0] * 9

In [58]:
s

[0, 0, 0, 0, 0, 0, 0, 0, 0]

In [59]:
s[0] is s[1] # Each item of the list refers to the same integer object!

True

In [60]:
s[1] = 1 # here only index 1 is modified since we redirects s[1] and only s[1] to the new referenced integer object 1

In [61]:
s

[0, 1, 0, 0, 0, 0, 0, 0, 0]

In [63]:
t = [[-1,1]] * 5

In [64]:
t

[[-1, 1], [-1, 1], [-1, 1], [-1, 1], [-1, 1]]

In [65]:
t[0].append(2)

In [66]:
t

[[-1, 1, 2], [-1, 1, 2], [-1, 1, 2], [-1, 1, 2], [-1, 1, 2]]

### Searching in lists

In [67]:
w = "the quick brown fox jumps over the lazy dog".split()

In [68]:
w

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [69]:
i = w.index('fox')

In [70]:
i

3

In [71]:
w.index('unicorn')

ValueError: 'unicorn' is not in list

### Count

In [72]:
w.count('the')

2

In [73]:
37 in [1, 2, 37]

True

In [74]:
u = "jackdaws love my big sphinx of quartz".split()

### Del

In [75]:
u

['jackdaws', 'love', 'my', 'big', 'sphinx', 'of', 'quartz']

In [76]:
del u[3]

### Remove

In [77]:
u

['jackdaws', 'love', 'my', 'sphinx', 'of', 'quartz']

In [78]:
u.remove('jackdaws')

In [79]:
u

['love', 'my', 'sphinx', 'of', 'quartz']

In [80]:
a = "I accidentally the whole universe".split()

In [81]:
a

['I', 'accidentally', 'the', 'whole', 'universe']

In [82]:
a.insert(2,"destroyed")

In [83]:
a

['I', 'accidentally', 'destroyed', 'the', 'whole', 'universe']

In [84]:
' '.join(a) # Create a string by concatenating the list elements adding a ' ' between each element

'I accidentally destroyed the whole universe'

### Addition of lists

In [85]:
m = [1, 2, 3]
n = [4, 5, 6]

In [88]:
k = m + n
k

[1, 2, 3, 4, 5, 6]

In [89]:
k += [8,9]

In [90]:
k

[1, 2, 3, 4, 5, 6, 8, 9]

### Extend

In [91]:
k.extend([10,11])

In [92]:
k

[1, 2, 3, 4, 5, 6, 8, 9, 10, 11]

### Reverse

In [93]:
g = [1, 3, 5]

In [94]:
g.reverse()

In [95]:
g

[5, 3, 1]

### Sort

In [97]:
g.sort()

In [98]:
g

[1, 3, 5]

Specify the sort ordering

In [99]:
g.sort(reverse=True)

In [100]:
g

[5, 3, 1]

Specify a key to use in order to sort the list items (eg: the lenght)

In [101]:
h = 'not perplexing do handwriting family where I illegibly know doctors'.split()

In [102]:
h

['not',
 'perplexing',
 'do',
 'handwriting',
 'family',
 'where',
 'I',
 'illegibly',
 'know',
 'doctors']

In [103]:
h.sort(key=len)

In [104]:
h

['I',
 'do',
 'not',
 'know',
 'where',
 'family',
 'doctors',
 'illegibly',
 'perplexing',
 'handwriting']

### Sorted

In [105]:
x = [4,9,2,1]

In [106]:
y = sorted(x)

### Reversed

In [110]:
x

[4, 9, 2, 1]

In [111]:
y

[1, 2, 4, 9]

In [112]:
z = reversed(y)

In [113]:
z

In [114]:
list(z)

[9, 4, 2, 1]

# Dictionary

In [3]:
urls = {'Google':'http://google.com', 'Pluralsight':'http://pluralsight.com',
       'Sixty North': 'http://sixty-north.com'}
urls['Pluralsight']

'http://pluralsight.com'

Keys must be immutable: string, integers, tuple are fines; lists can't be used. Values can be mutable.

In [4]:
names_and_ages = [('Alice',32), ('Bob', 48)]

In [5]:
type(names_and_ages)

list

In [6]:
d = dict(names_and_ages)

In [7]:
d

{'Alice': 32, 'Bob': 48}

In [8]:
type(d)

dict

In [9]:
phonetic = dict(a='alfa', b='bravo')

In [10]:
phonetic

{'a': 'alfa', 'b': 'bravo'}

In [12]:
d = dict(bleu='blue', rouge='red')

In [13]:
d

{'bleu': 'blue', 'rouge': 'red'}

In [14]:
e = d.copy()

In [15]:
e

{'bleu': 'blue', 'rouge': 'red'}

In [16]:
f = dict(e)

### Update a dictionary

In [17]:
g = dict(noir='black')

In [18]:
f.update(g)

In [19]:
f

{'bleu': 'blue', 'noir': 'black', 'rouge': 'red'}

In [20]:
h = dict(noir='black1')

In [21]:
f.update(h)

In [23]:
f

{'bleu': 'blue', 'noir': 'black1', 'rouge': 'red'}

### Looping over key/values

In [26]:
for key in f:
    print("{key} ==> {value}".format(key=key, value=f[key]))

bleu ==> blue
rouge ==> red
noir ==> black1

The keys are printed in random order.  No particular order is saved in a dictionary!

### Looping over values only

In [27]:
for value in f.values():
    print(value)

blue
red
black1

In [28]:
for key in f.keys():
    print(key)

bleu
rouge
noir

### Looping over key, values with items()

In [29]:
for key, value in f.items():
    print(key, value)

bleu blue
rouge red
noir black1

In [32]:
'bleu' in f # to test if a key is present in a dictionary.

True

In [33]:
'blue' in f # Does not work with a value of a dictionary.

False

### Delete an item of a dictionary

In [35]:
del f['bleu']

In [36]:
f

{'noir': 'black1', 'rouge': 'red'}

In [38]:
m = { 'H':[1, 2, 3],
      'He':[3,4]}

In [39]:
m['H'] += [4,5,6,7]

In [40]:
m

{'H': [1, 2, 3, 4, 5, 6, 7], 'He': [3, 4]}

In [41]:
m['N']=[13,14,15]

In [42]:
m

{'H': [1, 2, 3, 4, 5, 6, 7], 'He': [3, 4], 'N': [13, 14, 15]}

In [43]:
from pprint import pprint as pp
pp(m)

{'H': [1, 2, 3, 4, 5, 6, 7], 'He': [3, 4], 'N': [13, 14, 15]}

## Set

In [44]:
p = {6,7,8,9}

In [45]:
type(p)

set

In [46]:
e = set()

In [47]:
e

set()

In [48]:
s = set([2,4,5,8])

In [49]:
s

{2, 4, 5, 8}

In [50]:
u = set([1,1,1,4,5]) # duplicates are removed by the "set" constructor.

In [51]:
u

{1, 4, 5}

### Add

In [52]:
u.add(8)

In [53]:
u

{1, 4, 5, 8}

### Update

In [54]:
u.update([9,0])

In [55]:
u

{0, 1, 4, 5, 8, 9}

### Remove and discard

In [56]:
u.remove(1) # Delete the item given.  If the item is not present, an error is shown.

In [57]:
u

{0, 4, 5, 8, 9}

In [58]:
u.discard(1) # Delete the item given.  If the item is not present, no error is shown.

### Copy

In [59]:
v = u.copy()

In [60]:
v is u

False

In [61]:
v == u

True

### Union, intersection, difference, symmetric_difference, issubset, issuperset, isdisjoint

In [62]:
a = {2,4,6}
b = {1,3,5}

In [63]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [70]:
a.union(b) == b.union(a) # ==> commutative

True

In [64]:
c = {2,7,9}

In [68]:
a.intersection(c) # commutative

{2}

In [69]:
a.difference(b) # shows all elements in 'a' that are not in b ==> not commutative!

{2, 4, 6}

In [73]:
d = {2,5,8}
a.symmetric_difference(d) # shows elements that are in a or in d, but not in both a and d

{4, 5, 6, 8}

In [74]:
e = {2,4}
e.issubset(a) # checks if e is a subset of a

True

In [75]:
a.issuperset(e) # checks if a contains all elements of e

True

In [76]:
a.isdisjoint(b) # checks a and b have no common element

True

## Protocols
???