# Hierarchical clustering (Eurovision 2016)

In [21]:
import pandas as pd

sample = pd.read_csv('eurovision-2016.csv', index_col=[0,1])

In [22]:
sample.head()

                              Jury A  Jury B  Jury C  Jury D  Jury E  \
From country To country
Albania      Belgium              20      16      24      22      24
             Czech Republic       21      15      25      23      16
             The Netherlands      22      14      23      24      21
             Azerbaijan           19      12      11      21      11
             Hungary               8      13       9      14       9

                              Jury Rank  Televote Rank  Jury Points  \
From country To country
Albania      Belgium                 25             14          NaN
             Czech Republic          22             22          NaN
             The Netherlands         24             24          NaN
             Azerbaijan              13             19          NaN
             Hungary                 10             10          1.0

                              Televote Points
From country To country
Albania      Belgium                      NaN
             Czech Republic               NaN
             The Netherlands              NaN
             Azerbaijan                   NaN
             Hungary                      1.0

In [18]:
sample = sample.dropna()

In [19]:
import matplotlib.pyplot as plt
from scipy.cluster.hierarchy import linkage, dendrogram

mergins = linkage(sample, method='complete')