# KMeans clustering: wine varieties

In [2]:
import pandas as pd

df = pd.read_csv('wine.csv')

In [3]:
df.head()

,class_label,class_name,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280,proline
0,1,Barolo,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,Barolo,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,Barolo,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,Barolo,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,Barolo,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [6]:
from sklearn.cluster import KMeans

model = KMeans(n_clusters = 3)

df_2 = df.drop(['class_label', 'class_name'], axis=1)

labels = model.fit_predict(df_2)

df_3 = pd.DataFrame({'labels': labels, 'varieties': df['class_name']})

ct = pd.crosstab(df_3['labels'], df_3['varieties'])

print(ct)

varieties  Barbera  Barolo  Grignolino
labels
0               29      13          20
1                0      46           1
2               19       0          50

We see here that the KMeans clusters don't match wine varietes.  This is due to high varience between features.

## StandardScaler

In [8]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

scaler.fit(df_2)

df_2_scaled = scaler.transform(df_2)

## Using pipeline

In [9]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

scaler = StandardScaler()

model = KMeans(n_clusters = 3)

pl = make_pipeline(scaler, model)

pl.fit(df_2)

labels = pl.predict(df_2)

df_3 = pd.DataFrame({'labels': labels, 'varieties': df['class_name']})

ct = pd.crosstab(df_3['labels'], df_3['varieties'])

print(ct)

varieties  Barbera  Barolo  Grignolino
labels
0               48       0           3
1                0      59           3
2                0       0          65

The results are far better!