# Coin metric
---
The dataset and others can be downloaded [here](https://data.world/scuttlemonkey/coin-metrics/workspace/file?filename=btc.csv).

## Importing the data

In [5]:
import pandas as pd
df_btc = pd.read_csv('https://query.data.world/s/CXXFV_ZO-VYytj5lY3SOYYkBz8bAaM')

In [3]:
df_eth = pd.read_csv('https://query.data.world/s/ekom4SB36zJ5qqNaomwj9TAeoej5Jd')

## Exploring the data

In [6]:
df_btc.head()

,date,txVolume(USD),txCount,marketcap(USD),price(USD),exchangeVolume(USD),generatedCoins,fees
2013-04-28,7.382724e+07,40035.0,1.500520e+09,134.21,0.0,4200.0,31.676858,NaN
2013-04-29,1.179336e+08,52266.0,1.491160e+09,144.54,0.0,4750.0,37.520348,NaN
2013-04-30,7.827915e+07,46802.0,1.597780e+09,139.00,0.0,3600.0,53.995612,NaN
2013-05-01,9.145391e+07,52443.0,1.542820e+09,116.99,0.0,3575.0,36.806000,NaN
2013-05-02,8.765257e+07,55169.0,1.292190e+09,105.21,0.0,3425.0,54.407916,NaN

In [7]:
df_eth.head()

,date,txVolume(USD),txCount,marketcap(USD),price(USD),exchangeVolume(USD),generatedCoins,fees
2015-08-07,5.564117e+06,2016.0,0.0,2.770000,164329.0,27437.65625,37.318414,NaN
2015-08-08,1.266908e+06,2807.0,167911000.0,0.753325,674188.0,27943.43750,68.099970,NaN
2015-08-09,8.180282e+05,1298.0,42637600.0,0.701897,532170.0,27178.28125,14.098950,NaN
2015-08-10,1.183753e+06,1999.0,43130000.0,0.708448,405283.0,27817.34375,31.165144,NaN
2015-08-11,1.589574e+06,4945.0,42796500.0,1.070000,1463100.0,28027.81250,11.311449,NaN