# Academy Awards (part 2)
---
In this project, we walk through how to normalize our single table `nominations` - created in the project Academy Awards (part 1) - into multiple tables and how to create relations between them.

Our database file, nominations.db, contains just the nominations table. This table has the following schema:

- `Year` - the year of the awards ceremony, integer type.
- `Category` - the category of award the nominee was nominated for, text type.
- `Nominee` - the person nominated for the award, text type.
- `Movie` - the movie the nominee participated in, text type.
- `Character` - the name of the character the nominee played, text type.
- `Won` - if this nominee won the award, integer type.

## Querying the table

In [1]:
import sqlite3
conn = sqlite3.connect('nominations.db')

In [7]:
schema = conn.execute('pragma table_info(nominations)').fetchall()
for each in schema:
    print(each)

(0, 'Year', 'INTEGER', 0, None, 0)
(1, 'Category', 'TEXT', 0, None, 0)
(2, 'Nominee', 'TEXT', 0, None, 0)
(3, 'Won', 'INTEGER', 0, None, 0)
(4, 'Movie', 'TEXT', 0, None, 0)
(5, 'Character', 'TEXT', 0, None, 0)

In [10]:
first_ten = conn.execute('select * from nominations limit 10').fetchall()
for each in first_ten:
    print(each)

(2010, 'Actor -- Leading Role', 'Javier Bardem', 0, 'Biutiful', 'Uxbal')
(2010, 'Actor -- Leading Role', 'Jeff Bridges', 0, 'True Grit', 'Rooster Cogburn')
(2010, 'Actor -- Leading Role', 'Jesse Eisenberg', 0, 'The Social Network', 'Mark Zuckerberg')
(2010, 'Actor -- Leading Role', 'Colin Firth', 1, "The King's Speech", 'King George VI')
(2010, 'Actor -- Leading Role', 'James Franco', 0, '127 Hours', 'Aron Ralston')
(2010, 'Actor -- Supporting Role', 'Christian Bale', 1, 'The Fighter', 'Dicky Eklund')
(2010, 'Actor -- Supporting Role', 'John Hawkes', 0, "Winter's Bone", 'Teardrop')
(2010, 'Actor -- Supporting Role', 'Jeremy Renner', 0, 'The Town', 'James Coughlin')
(2010, 'Actor -- Supporting Role', 'Mark Ruffalo', 0, 'The Kids Are All Right', 'Paul')
(2010, 'Actor -- Supporting Role', 'Geoffrey Rush', 0, "The King's Speech", 'Lionel Logue')

## Ceremonies table
Let's create a ceremonies table that contains the Year and Host for each ceremony and then set up a one-to-many relationship between ceremonies and nominations.

The ceremonies table will contain 3 fields:

- `id` - unique identifier for each row, integer type.
- `Year` - the year of the awards ceremony, integer type.
- `Host` - the host of the awards ceremony, text type.

In [12]:
query = '''
    CREATE TABLE ceremonies(
   id integer PRIMARY KEY,
   Year integer,
   Host text);
'''
conn.execute(query)

In [13]:
conn.execute('pragma table_info(ceremonies)').fetchall()

[(0, 'id', 'integer', 0, None, 1),
 (1, 'Year', 'integer', 0, None, 0),
 (2, 'Host', 'text', 0, None, 0)]

Wikipedia lists the host(s) for each awards ceremony. Even though the 2010 ceremony had 2 hosts, we selected just the first host, Steve Martin, to keep things simple. Here's what the list of tuples looks like:

In [14]:
years_hosts = [(2010, "Steve Martin"),
               (2009, "Hugh Jackman"),
               (2008, "Jon Stewart"),
               (2007, "Ellen DeGeneres"),
               (2006, "Jon Stewart"),
               (2005, "Chris Rock"),
               (2004, "Billy Crystal"),
               (2003, "Steve Martin"),
               (2002, "Whoopi Goldberg"),
               (2001, "Steve Martin"),
               (2000, "Billy Crystal"),
            ]

In [15]:
insert_query = "INSERT INTO ceremonies (Year, Host) VALUES (?,?);"
conn.executemany(insert_query, years_hosts)

In [16]:
conn.execute('select * from ceremonies limit 10').fetchall()

[(1, 2010, 'Steve Martin'),
 (2, 2009, 'Hugh Jackman'),
 (3, 2008, 'Jon Stewart'),
 (4, 2007, 'Ellen DeGeneres'),
 (5, 2006, 'Jon Stewart'),
 (6, 2005, 'Chris Rock'),
 (7, 2004, 'Billy Crystal'),
 (8, 2003, 'Steve Martin'),
 (9, 2002, 'Whoopi Goldberg'),
 (10, 2001, 'Steve Martin')]

Alright!

Now, we will set up the one-to-many relation betwween the ceremonies and nominations tables.  For this we first need to turn on **foreign key constraints** as follows :

In [17]:
conn.execute('pragma foreign_keys = ON;')

## Altering the nominations table scheme
The next step is to remove the Year column from nominations and add a new column, ceremony_id, that contains the foreign key reference to the id column in the ceremonies table. Unfortunately, we can't remove columns from an existing table in SQLite or change its schema. The goal of SQLite is to create an incredibly lightweight, open source database that contains a common, but reduced, set of features. While this has allowed SQLite to become the most popular database in the world, SQLite doesn't have the ability to heavily modify an existing table to keep the code base lightweight.

The only alterations we can make to an existing table are renaming it or adding a new column. This means that we can't just remove the Year column from nominations and add the ceremony_id column. We need to instead:

- create a new table nominations_two with the schema we want,
- populate nominations_two with the records we want,
- delete the original nominations table,
- rename nominations_two to nominations.

For nominations_two, we want the following schema:

- `id`: primary key, integer,
- `category`: text,
- `nominee`: text,
- `movie`: text,
- `character`: text,
- `won`: integer,
- `ceremony_id`: foreign key reference to id column from ceremonies

### Creating nominations_two

In [20]:
query = '''
    CREATE TABLE nominations_two(
    id integer PRIMARY KEY,
    category text,
    nominee text,
    movie text,
    character text,
    won text,
    ceremony_id integer,
    FOREIGN KEY(ceremony_id) REFERENCES ceremonies(id));
'''
conn.execute(query)

In [21]:
conn.execute('pragma table_info(nominations_two)').fetchall()

[(0, 'id', 'integer', 0, None, 1),
 (1, 'category', 'text', 0, None, 0),
 (2, 'nominee', 'text', 0, None, 0),
 (3, 'movie', 'text', 0, None, 0),
 (4, 'character', 'text', 0, None, 0),
 (5, 'won', 'text', 0, None, 0),
 (6, 'ceremony_id', 'integer', 0, None, 0)]

### Selecting the data we need to import

In [22]:
query = '''
    SELECT nominations.category, nominations.nominee, nominations.movie, 
           nominations.character, nominations.won, ceremonies.id
    FROM nominations
    INNER JOIN ceremonies ON
    nominations.year == ceremonies.year
;
'''
joined_nominations = conn.execute(query).fetchall()

### Importing the data into nominations_two

In [24]:
insert_nominations_two = '''
    INSERT INTO nominations_two (category, nominee, movie, character, won, ceremony_id) 
    VALUES (?,?,?,?,?,?);
'''
conn.executemany(insert_nominations_two, joined_nominations)

We verify :

In [25]:
conn.execute('select * from nominations_two limit 5').fetchall()

[(1, 'Actor -- Leading Role', 'Javier Bardem', 'Biutiful', 'Uxbal', '0', 1),
 (2,
  'Actor -- Leading Role',
  'Jeff Bridges',
  'True Grit',
  'Rooster Cogburn',
  '0',
  1),
 (3,
  'Actor -- Leading Role',
  'Jesse Eisenberg',
  'The Social Network',
  'Mark Zuckerberg',
  '0',
  1),
 (4,
  'Actor -- Leading Role',
  'Colin Firth',
  "The King's Speech",
  'King George VI',
  '1',
  1),
 (5,
  'Actor -- Leading Role',
  'James Franco',
  '127 Hours',
  'Aron Ralston',
  '0',
  1)]

### Dropping nominations table

In [26]:
conn.execute('drop table nominations;')

### Renaming nominations_two to nominations

In [27]:
conn.execute('alter table nominations_two rename to nominations;')

In [28]:
conn.execute('select * from nominations limit 5').fetchall()

[(1, 'Actor -- Leading Role', 'Javier Bardem', 'Biutiful', 'Uxbal', '0', 1),
 (2,
  'Actor -- Leading Role',
  'Jeff Bridges',
  'True Grit',
  'Rooster Cogburn',
  '0',
  1),
 (3,
  'Actor -- Leading Role',
  'Jesse Eisenberg',
  'The Social Network',
  'Mark Zuckerberg',
  '0',
  1),
 (4,
  'Actor -- Leading Role',
  'Colin Firth',
  "The King's Speech",
  'King George VI',
  '1',
  1),
 (5,
  'Actor -- Leading Role',
  'James Franco',
  '127 Hours',
  'Aron Ralston',
  '0',
  1)]

## Setting up a many-to-many relationship

We set up a many-to-many relationship between two tables: `movies` and `actors`.  A third table, `movies_actors`, will be the join table.

### Creating movies, actors and movies_actors

In [29]:
query = '''
   CREATE TABLE movies(
   id integer PRIMARY KEY,
   movie text);
'''
conn.execute(query)

In [30]:
query = '''
    CREATE TABLE actors(
   id integer PRIMARY KEY,
   actor text);
'''
conn.execute(query)

In [32]:
query = '''
    CREATE TABLE movies_actors(
   id integer PRIMARY KEY,
   movie_id integer REFERENCES movies(id),
   actor_id integer REFERENCES actors(id))
   ;
'''
conn.execute(query)

### Selecting actors data from nominations

In [33]:
query = '''
    select distinct(nominee) from nominations
'''
actors = conn.execute(query).fetchall()

### Populating actors table

In [34]:
insert_actors = 'INSERT INTO actors (actor) VALUES (?);'
conn.executemany(insert_actors, actors)

In [35]:
conn.execute('select * from actors limit 5').fetchall()

[(1, 'Javier Bardem'),
 (2, 'Jeff Bridges'),
 (3, 'Jesse Eisenberg'),
 (4, 'Colin Firth'),
 (5, 'James Franco')]

### Selecting movies data from nominations

In [36]:
movies = conn.execute('select distinct(movie) from nominations').fetchall()

### Populating movies table

In [38]:
insert_movies = 'INSERT INTO movies (movie) VALUES (?);'
conn.executemany(insert_movies, movies)

In [39]:
conn.execute('select * from movies limit 5').fetchall()

[(1, 'Biutiful'),
 (2, 'True Grit'),
 (3, 'The Social Network'),
 (4, "The King's Speech"),
 (5, '127 Hours')]

### Selecting movies_actors data from nominations

In [41]:
query = '''
    select movies.id, actors.id from nominations, movies, actors
    where movies.movie = nominations.movie
      and actors.actor = nominations.nominee
'''
movies_actors = conn.execute(query).fetchall()

### Populating movies_actors table

In [44]:
insert_movies_actors = 'INSERT INTO movies_actors (movie_id, actor_id) VALUES (?,?);'
conn.executemany(insert_movies_actors, movies_actors)

In [45]:
conn.execute('select * from movies_actors limit 10').fetchall()

[(1, 1, 1),
 (2, 2, 2),
 (3, 3, 3),
 (4, 4, 4),
 (5, 5, 5),
 (6, 6, 6),
 (7, 7, 7),
 (8, 8, 8),
 (9, 9, 9),
 (10, 4, 10)]

### Testing the result

Let's list actors from the movie "The Social Network" and "Black Swan":

In [46]:
query = '''
    select actors.actor from actors, movies, movies_actors
    where actors.id = movies_actors.actor_id
      and movies.id = movies_actors.movie_id
      and movies.movie = 'The Social Network';
'''
conn.execute(query).fetchall()

[('Jesse Eisenberg',)]

In [48]:
query = '''
    select actors.actor from actors, movies, movies_actors
    where actors.id = movies_actors.actor_id
      and movies.id = movies_actors.movie_id
      and movies.movie = 'Black Swan';
'''
conn.execute(query).fetchall()

[('Natalie Portman',)]