# Dimension reduction, KMeans clustering: Wikipedia articles

## Import and preprocessing

In [1]:
import pandas as pd

df_temp = pd.read_csv('wikipedia-vectors.csv', index_col=0)

words = pd.read_csv('wikipedia-vocabulary-utf8.txt', header=None).values.flatten().tolist()

df = pd.DataFrame(df_temp.transpose().values, index=df_temp.transpose().index, columns=words)  
                                      # The words were stored as rows (13124) in the csv 
                                      # because of the limitation of columns a csv file can have, hence the transpose

df.head()

,aaron,abandon,abandoned,abandoning,abandonment,abbas,abbey,abbreviated,abbreviation,abc,...,zealand,zenith,zeppelin,zero,zeus,zimbabwe,zinc,zone,zones,zoo
HTTP 404,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
Alexa Internet,0.0,0.0,0.029607,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
Internet Explorer,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.003772,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.011594,0.000000,0.0
HTTP cookie,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0
Google Search,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.006649,0.0

In [2]:
from scipy.sparse import csr_matrix

articles = csr_matrix(df) 

titles = list(df.index)

In [3]:
articles.shape

(60, 13125)

## Pipeline: TruncatedSVD, KMeans

In [4]:
from sklearn.decomposition import TruncatedSVD
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline

# Create a TruncatedSVD instance: svd
svd = TruncatedSVD(n_components=50)

# Create a KMeans instance: kmeans
kmeans = KMeans(n_clusters=6)

# Create a pipeline: pipeline
pipeline = make_pipeline(svd,kmeans)

## Fit and prediction

In [5]:
# Fit the model
pipeline.fit(articles)

# Calculate the cluster labels: labels
labels = pipeline.predict(articles)

# Create a DataFrame aligning labels and titles: df
df2 = pd.DataFrame({'label': labels, 'article': titles})

# Display df sorted by cluster label
print(df2.sort_values('label'))

                                          article  label
29                               Jennifer Aniston      0
21                             Michael Fassbender      0
22                              Denzel Washington      0
23                           Catherine Zeta-Jones      0
24                                   Jessica Biel      0
20                                 Angelina Jolie      0
26                                     Mila Kunis      0
27                                 Dakota Fanning      0
28                                  Anne Hathaway      0
25                                  Russell Crowe      0
18  2010 United Nations Climate Change Conference      1
10                                 Global warming      1
11       Nationally Appropriate Mitigation Action      1
12                                   Nigel Lawson      1
13                               Connie Hedegaard      1
14                                 Climate change      1
15                                 Kyoto Protocol      1
16                                        350.org      1
17  Greenhouse gas emissions by the United States      1
19  2007 United Nations Climate Change Conference      1
0                                        HTTP 404      2
8                                         Firefox      2
7                                   Social search      2
6                     Hypertext Transfer Protocol      2
5                                          Tumblr      2
4                                   Google Search      2
3                                     HTTP cookie      2
2                               Internet Explorer      2
1                                  Alexa Internet      2
9                                        LinkedIn      2
39                                  Franck RibÃ©ry      3
38                                         Neymar      3
37                                       Football      3
36              2014 FIFA World Cup qualification      3
35                Colombia national football team      3
34                             Zlatan IbrahimoviÄ‡      3
33                                 Radamel Falcao      3
32                                   Arsenal F.C.      3
31                              Cristiano Ronaldo      3
30                  France national football team      3
57                          Red Hot Chili Peppers      4
56                                       Skrillex      4
55                                  Black Sabbath      4
54                                 Arctic Monkeys      4
53                                   Stevie Nicks      4
52                                     The Wanted      4
51                                     Nate Ruess      4
50                                   Chad Kroeger      4
59                                    Adam Levine      4
58                                         Sepsis      4
49                                       Lymphoma      5
47                                          Fever      5
46                                     Prednisone      5
45                                    Hepatitis C      5
44                                           Gout      5
43                                       Leukemia      5
42                                    Doxycycline      5
41                                    Hepatitis B      5
48                                     Gabapentin      5
40                                    Tonsillitis      5

We see that the predicted labels correspond to "topics": 
- label 5 --> Articles about illnesses
- label 4 --> Articles about climate related articles
- label 1 --> Articles about football

## Dimension reduction using NMF

In [6]:
# Import NMF
from sklearn.decomposition import NMF

# Create an NMF instance: model
model = NMF(n_components=6)

# Fit the model to articles
model.fit(articles)

# Transform the articles: nmf_features
nmf_features = model.transform(articles)

# Print the NMF features
print(nmf_features.shape)
print(nmf_features)

(60, 6)
[[  0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
    0.00000000e+00   4.40529365e-01]
 [  0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
    0.00000000e+00   5.66686813e-01]
 [  3.82108491e-03   0.00000000e+00   0.00000000e+00   0.00000000e+00
    0.00000000e+00   3.98704441e-01]
 [  0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
    0.00000000e+00   3.81795303e-01]
 [  0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
    0.00000000e+00   4.85587227e-01]
 [  1.29307639e-02   1.37903748e-02   7.76331461e-03   3.34493314e-02
    0.00000000e+00   3.34570084e-01]
 [  0.00000000e+00   0.00000000e+00   2.06742394e-02   0.00000000e+00
    6.04567435e-03   3.59113349e-01]
 [  0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
    0.00000000e+00   4.91047564e-01]
 [  1.54294757e-02   1.42832337e-02   3.76635176e-03   2.37115180e-02
    2.62655884e-02   4.80844210e-01]
 [  1.11753111e-02   3.13710033e-02   3.09486725e-02   6.57011050e-02
    1.96705084e-02   3.38337448e-01]
 [  0.00000000e+00   0.00000000e+00   5.30720469e-01   0.00000000e+00
    2.83718500e-02   0.00000000e+00]
 [  0.00000000e+00   0.00000000e+00   3.56509980e-01   0.00000000e+00
    0.00000000e+00   0.00000000e+00]
 [  1.20143317e-02   6.50102630e-03   3.12245861e-01   6.09779905e-02
    1.13877079e-02   1.92629894e-02]
 [  3.93538297e-03   6.24498495e-03   3.42373917e-01   1.10770552e-02
    0.00000000e+00   0.00000000e+00]
 [  4.63883478e-03   0.00000000e+00   4.34915909e-01   0.00000000e+00
    3.84327988e-02   3.08176995e-03]
 [  0.00000000e+00   0.00000000e+00   4.83290016e-01   0.00000000e+00
    0.00000000e+00   0.00000000e+00]
 [  5.65092109e-03   1.83551925e-02   3.76533734e-01   3.25465819e-02
    0.00000000e+00   1.13350611e-02]
 [  0.00000000e+00   0.00000000e+00   4.80914691e-01   0.00000000e+00
    0.00000000e+00   0.00000000e+00]
 [  0.00000000e+00   9.01944948e-03   5.51008977e-01   0.00000000e+00
    0.00000000e+00   0.00000000e+00]
 [  0.00000000e+00   0.00000000e+00   4.65970506e-01   0.00000000e+00
    0.00000000e+00   0.00000000e+00]
 [  0.00000000e+00   1.14091015e-02   2.08656018e-02   5.17775004e-01
    5.81489007e-02   1.37873339e-02]
 [  0.00000000e+00   0.00000000e+00   0.00000000e+00   5.10482829e-01
    0.00000000e+00   0.00000000e+00]
 [  0.00000000e+00   5.60154120e-03   0.00000000e+00   4.22386107e-01
    0.00000000e+00   0.00000000e+00]
 [  0.00000000e+00   0.00000000e+00   0.00000000e+00   4.36757718e-01
    0.00000000e+00   0.00000000e+00]
 [  0.00000000e+00   0.00000000e+00   0.00000000e+00   4.98099411e-01
    0.00000000e+00   0.00000000e+00]
 [  9.88526389e-02   8.60120739e-02   3.91036323e-03   3.81023183e-01
    4.39304924e-04   5.22225105e-03]
 [  0.00000000e+00   0.00000000e+00   0.00000000e+00   5.72178370e-01
    0.00000000e+00   7.13641980e-03]
 [  1.31486272e-02   1.04862708e-02   0.00000000e+00   4.68912998e-01
    0.00000000e+00   1.16326583e-02]
 [  3.84599255e-03   0.00000000e+00   0.00000000e+00   5.75719090e-01
    0.00000000e+00   0.00000000e+00]
 [  2.25273326e-03   1.38748550e-03   0.00000000e+00   5.27953613e-01
    1.20281427e-02   1.49505119e-02]
 [  0.00000000e+00   4.07584283e-01   1.85715047e-03   0.00000000e+00
    2.96651450e-03   4.52411162e-04]
 [  1.53441764e-03   6.08226914e-01   5.22279876e-04   6.24862804e-03
    1.18461186e-03   4.40138845e-04]
 [  5.38891544e-03   2.65040535e-01   5.38512449e-04   1.86928656e-02
    6.38739819e-03   2.90146907e-03]
 [  0.00000000e+00   6.44973034e-01   0.00000000e+00   0.00000000e+00
    0.00000000e+00   0.00000000e+00]
 [  0.00000000e+00   6.08960916e-01   0.00000000e+00   0.00000000e+00
    0.00000000e+00   0.00000000e+00]
 [  0.00000000e+00   3.43715699e-01   0.00000000e+00   0.00000000e+00
    3.97849722e-03   0.00000000e+00]
 [  6.10590647e-03   3.15340752e-01   1.54880309e-02   0.00000000e+00
    5.06314615e-03   4.74404328e-03]
 [  6.47459956e-03   2.13347459e-01   9.49497527e-03   4.56987908e-02
    1.71938296e-02   9.52202333e-03]
 [  7.99254281e-03   4.67636592e-01   0.00000000e+00   2.43429013e-02
    0.00000000e+00   0.00000000e+00]
 [  0.00000000e+00   6.42877060e-01   0.00000000e+00   2.35858745e-03
    0.00000000e+00   0.00000000e+00]
 [  0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
    4.77145950e-01   0.00000000e+00]
 [  0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
    4.94321372e-01   0.00000000e+00]
 [  0.00000000e+00   2.99088413e-04   2.14487646e-03   0.00000000e+00
    3.81829171e-01   5.83863450e-03]
 [  0.00000000e+00   0.00000000e+00   0.00000000e+00   5.64698816e-03
    5.42313167e-01   0.00000000e+00]
 [  1.78083106e-03   7.84480261e-04   1.41628257e-02   4.59810085e-04
    4.24358512e-01   0.00000000e+00]
 [  0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
    5.11459368e-01   0.00000000e+00]
 [  0.00000000e+00   0.00000000e+00   3.28385677e-03   0.00000000e+00
    3.72936174e-01   0.00000000e+00]
 [  0.00000000e+00   2.62105346e-04   3.61105538e-02   2.32336329e-04
    2.30541167e-01   0.00000000e+00]
 [  1.12532701e-02   2.12346224e-03   1.60972788e-02   1.02486220e-02
    3.25504677e-01   3.75934824e-02]
 [  0.00000000e+00   0.00000000e+00   0.00000000e+00   0.00000000e+00
    4.19013676e-01   3.57735593e-04]
 [  3.08414788e-01   0.00000000e+00   0.00000000e+00   0.00000000e+00
    0.00000000e+00   0.00000000e+00]
 [  3.68230918e-01   0.00000000e+00   0.00000000e+00   0.00000000e+00
    0.00000000e+00   0.00000000e+00]
 [  3.98006534e-01   2.81728068e-02   3.67013221e-03   1.70069431e-02
    1.95993790e-03   2.11675207e-02]
 [  3.75852847e-01   2.07539236e-03   0.00000000e+00   3.72159949e-02
    0.00000000e+00   5.86013551e-03]
 [  4.38096098e-01   0.00000000e+00   0.00000000e+00   0.00000000e+00
    0.00000000e+00   0.00000000e+00]
 [  4.57951990e-01   0.00000000e+00   0.00000000e+00   0.00000000e+00
    0.00000000e+00   0.00000000e+00]
 [  2.75519919e-01   4.46996414e-03   0.00000000e+00   5.29663390e-02
    0.00000000e+00   1.91025568e-02]
 [  4.45262932e-01   0.00000000e+00   0.00000000e+00   0.00000000e+00
    5.48771831e-03   0.00000000e+00]
 [  2.92785763e-01   1.33676659e-02   1.14263731e-02   1.05201592e-02
    1.87721307e-01   9.24099285e-03]
 [  3.78325113e-01   1.43983033e-02   0.00000000e+00   9.85254193e-02
    1.35918507e-02   0.00000000e+00]]

In [7]:
# Import pandas
import pandas as pd

# Create a pandas DataFrame: df
df = pd.DataFrame(nmf_features, index=titles)

df.head()

                          0    1    2    3    4         5
HTTP 404           0.000000  0.0  0.0  0.0  0.0  0.440529
Alexa Internet     0.000000  0.0  0.0  0.0  0.0  0.566687
Internet Explorer  0.003821  0.0  0.0  0.0  0.0  0.398704
HTTP cookie        0.000000  0.0  0.0  0.0  0.0  0.381795
Google Search      0.000000  0.0  0.0  0.0  0.0  0.485587

In [8]:
# Print the row for 'Anne Hathaway'
print(df.loc['Anne Hathaway'])

# Print the row for 'Denzel Washington'
print(df.loc['Denzel Washington'])

0    0.003846
1    0.000000
2    0.000000
3    0.575719
4    0.000000
5    0.000000
Name: Anne Hathaway, dtype: float64
0    0.000000
1    0.005602
2    0.000000
3    0.422386
4    0.000000
5    0.000000
Name: Denzel Washington, dtype: float64

We see the 3rd NMF feature is high for those two rows.  Let's see which topics are behind this NMF feature.

## Identifying the topics

In [9]:
words = pd.read_csv('wikipedia-vocabulary-utf8.txt', header=None).values.flatten().tolist()

# Create a DataFrame: components_df
components_df = pd.DataFrame(model.components_, columns=words)

components_df.shape

(6, 13125)

In [10]:
# Print the shape of the DataFrame
print(components_df.shape)

# Select row 3: component
component = components_df.iloc[3,:]

# Print result of nlargest
print(component.nlargest())

(6, 13125)
film       0.627867
award      0.253128
starred    0.245281
role       0.211448
actress    0.186395
Name: 3, dtype: float64

## Identifying articles with similar topics (recommending system)

In [11]:
# Perform the necessary imports
import pandas as pd
from sklearn.preprocessing import normalize

# Normalize the NMF features: norm_features
norm_features = normalize(nmf_features)

# Create a DataFrame: df
df1 = pd.DataFrame(norm_features, index=titles)

# Select the row corresponding to 'Cristiano Ronaldo': article
article = df1.loc['Cristiano Ronaldo']

# Compute the dot products: similarities
similarities = df1.dot(article)

# Display those with the largest cosine similarity
print(similarities.nlargest())

Cristiano Ronaldo                1.000000
Franck RibÃ©ry                    0.999972
Radamel Falcao                   0.999942
Zlatan IbrahimoviÄ‡               0.999942
France national football team    0.999923
dtype: float64