# Data Preprocessing & Ridge (L1) regression model

In [2]:
import pandas as pd
df = pd.read_csv('auto.csv')

In [3]:
df.head()

    mpg  displ   hp  weight  accel  origin  size
0  18.0  250.0   88    3139   14.5      US  15.0
1   9.0  304.0  193    4732   18.5      US  20.0
2  36.1   91.0   60    1800   16.4    Asia  10.0
3  18.5  250.0   98    3525   19.0      US  15.0
4  34.3   97.0   78    2188   15.8  Europe  10.0

## Dummy variables with pd.get_dummies()
The target variable is "mpg".  The column "origin" is a categorical feature.  We need to convert its information into dummy variables.

In [4]:
df_origin = pd.get_dummies(df)

In [5]:
df_origin.head()

,mpg,displ,hp,weight,accel,size,origin_Asia,origin_Europe,origin_US
0,18.0,250.0,88,3139,14.5,15.0,0,0,1
1,9.0,304.0,193,4732,18.5,20.0,0,0,1
2,36.1,91.0,60,1800,16.4,10.0,1,0,0
3,18.5,250.0,98,3525,19.0,15.0,0,0,1
4,34.3,97.0,78,2188,15.8,10.0,0,1,0

We drop one of the 3 added columns, since knowing 2 columns implicitly determines the 3d.

In [6]:
df_origin = df_origin.drop('origin_Asia', axis=1)

In [7]:
df_origin.head()

    mpg  displ   hp  weight  accel  size  origin_Europe  origin_US
0  18.0  250.0   88    3139   14.5  15.0              0          1
1   9.0  304.0  193    4732   18.5  20.0              0          1
2  36.1   91.0   60    1800   16.4  10.0              0          0
3  18.5  250.0   98    3525   19.0  15.0              0          1
4  34.3   97.0   78    2188   15.8  10.0              1          0

## Ridge (L1) regression model

In [11]:
X = df_origin.drop('mpg', axis=1)
y = df_origin.mpg

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
ridge = Ridge(alpha=0.5, normalize=True).fit(X_train, y_train)
ridge.score(X_test, y_test)

0.71906451902178947