# KMeans clustering: stock movements

In [6]:
import pandas as pd

movements = pd.read_csv('company-stock-movements-2010-2015-incl.csv', index_col=0)

movements.head()

,2010-01-04,2010-01-05,2010-01-06,2010-01-07,2010-01-08,2010-01-11,2010-01-12,2010-01-13,2010-01-14,2010-01-15,...,2013-10-16,2013-10-17,2013-10-18,2013-10-21,2013-10-22,2013-10-23,2013-10-24,2013-10-25,2013-10-28,2013-10-29
Apple,0.580000,-0.220005,-3.409998,-1.170000,1.680011,-2.689994,-1.469994,2.779997,-0.680003,-4.999995,...,0.320008,4.519997,2.899987,9.590019,-6.540016,5.959976,6.910011,-5.359962,0.840019,-19.589981
AIG,-0.640002,-0.650000,-0.210001,-0.420000,0.710001,-0.200001,-1.130001,0.069999,-0.119999,-0.500000,...,0.919998,0.709999,0.119999,-0.480000,0.010002,-0.279998,-0.190003,-0.040001,-0.400002,0.660000
Amazon,-2.350006,1.260009,-2.350006,-2.009995,2.960006,-2.309997,-1.640007,1.209999,-1.790001,-2.039994,...,2.109985,3.699982,9.570008,-3.450013,4.820008,-4.079986,2.579986,4.790009,-1.760009,3.740021
American express,0.109997,0.000000,0.260002,0.720002,0.190003,-0.270001,0.750000,0.300004,0.639999,-0.130001,...,0.680001,2.290001,0.409996,-0.069999,0.100006,0.069999,0.130005,1.849999,0.040001,0.540001
Boeing,0.459999,1.770000,1.549999,2.690003,0.059997,-1.080002,0.360000,0.549999,0.530002,-0.709999,...,1.559997,2.480003,0.019997,-1.220001,0.480003,3.020004,-0.029999,1.940002,1.130005,0.309998

In [5]:
companies = df.index

In [8]:
# Import Normalizer
from sklearn.preprocessing import Normalizer
from sklearn.pipeline import make_pipeline
from sklearn.cluster import KMeans

# Create a normalizer: normalizer
normalizer = Normalizer()

# Create a KMeans model with 10 clusters: kmeans
kmeans = KMeans(n_clusters=10)

# Make a pipeline chaining normalizer and kmeans: pipeline
pipeline = make_pipeline(normalizer, kmeans)

# Fit pipeline to the daily price movements
pipeline.fit(movements)

Pipeline(memory=None,
     steps=[('normalizer', Normalizer(copy=True, norm='l2')), ('kmeans', KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=10, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0))])

In [9]:
# Import pandas
import pandas as pd

# Predict the cluster labels: labels
labels = pipeline.predict(movements)

# Create a DataFrame aligning labels and companies: df
df = pd.DataFrame({'labels': labels, 'companies': companies})

# Display df sorted by cluster label
print(df.sort_values('labels'))

                             companies  labels
26                      JPMorgan Chase       0
18                       Goldman Sachs       0
16                   General Electrics       0
15                                Ford       0
5                      Bank of America       0
55                         Wells Fargo       0
3                     American express       0
1                                  AIG       0
6             British American Tobacco       1
39                              Pfizer       1
37                            Novartis       1
20                          Home Depot       1
46                      Sanofi-Aventis       1
52                            Unilever       1
43                                 SAP       1
42                   Royal Dutch Shell       1
19                     GlaxoSmithKline       1
49                               Total       1
38                               Pepsi       2
28                           Coca Cola       2
31                           McDonalds       2
41                       Philip Morris       2
47                            Symantec       3
33                           Microsoft       3
0                                Apple       4
22                                  HP       4
24                               Intel       4
51                   Texas instruments       4
11                               Cisco       4
14                                Dell       4
7                                Canon       5
34                          Mitsubishi       5
45                                Sony       5
21                               Honda       5
48                              Toyota       5
25                   Johnson & Johnson       6
9                    Colgate-Palmolive       6
56                            Wal-Mart       6
27                      Kimberly-Clark       6
40                      Procter Gamble       6
17                     Google/Alphabet       7
2                               Amazon       7
50  Taiwan Semiconductor Manufacturing       8
57                               Exxon       8
53                       Valero Energy       8
59                               Yahoo       8
35                            Navistar       8
32                                  3M       8
30                          MasterCard       8
58                               Xerox       8
23                                 IBM       8
13                   DuPont de Nemours       8
12                             Chevron       8
10                      ConocoPhillips       8
8                          Caterpillar       8
44                        Schlumberger       8
36                    Northrop Grumman       9
54                            Walgreen       9
4                               Boeing       9
29                     Lookheed Martin       9

In [ ]:
# To be continued