# data.world
## Superstore Data Sets

> #### Setup  

> Before running data.world notebooks for the first time, you'll need to:  
1. Install data.world's Python package, including optional `pandas` dependencies: 
```shell
pip install git+git://github.com/datadotworld/data.world-py.git#egg=project[pandas]
```
1. Obtain an API access token at https://data.world/settings/advanced
1. Store API access token using the `dw` command-line tool: 
```shell
dw configure
```

> Once your environment is set up, these steps do not need to be repeated for other data.world notebooks.

In [1]:
import datadotworld as dw

In [2]:
# Datasets are referenced by their path
dataset_key = 'tableauhelp/superstore-data-sets'

# Or simply by their URL
dataset_key = 'https://data.world/tableauhelp/superstore-data-sets'

In [3]:
# Load dataset (onto the local file system)
dataset_local = dw.load_dataset(dataset_key)  # cached under ~/.dw/cache

In [4]:
# See what is in it
dataset_local.describe()

{'homepage': 'https://data.world/tableauhelp/superstore-data-sets',
 'name': 'tableauhelp_superstore-data-sets',
 'resources': [{'format': 'csv',
   'name': 'global_superstore_returns_2016',
   'path': 'data/global_superstore_returns_2016.csv'},
  {'format': 'csv', 'name': 'orders', 'path': 'data/orders.csv'},
  {'format': 'csv', 'name': 'people', 'path': 'data/people.csv'},
  {'bytes': 8473456,
   'format': 'xlsx',
   'mediatype': 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
   'name': 'original/Global Superstore Orders 2016.xlsx',
   'path': 'original/Global Superstore Orders 2016.xlsx'},
  {'bytes': 46111,
   'format': 'csv',
   'mediatype': 'text/csv',
   'name': 'original/Global Superstore Returns 2016.csv',
   'path': 'original/Global Superstore Returns 2016.csv'}],
 'title': 'Superstore Data Sets'}

In [6]:
list(dataset_local.dataframes)

['global_superstore_returns_2016', 'orders', 'people']

In [10]:
orders = dataset_local.dataframes['orders']

d:\Profiles\cnozaradan\AppData\Local\Continuum\anaconda3\lib\site-packages\datadotworld\models\dataset.py:192: UserWarning: Unable to set data frame dtypes automatically using orders schema. Data types may need to be adjusted manually. Error: Integer column has NA values in column 8
  'Error: {}'.format(resource_name, e))

In [11]:
orders.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,postal_code,city,...,product_id,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,40.77,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [12]:
people = dataset_local.dataframes['people']

In [13]:
people.head()

              person           region
0  MarilÃ¨ne Rousseau        Caribbean
1   AndileÂ Ihejirika   Central Africa
2  Nicodemo Bautista  Central America
3     Cansu Peynirci     Central Asia
4         Lon Bonher       Central US